<div class="row">
    <!-- button to triger edit modal -->
    <button type="button" class="btn btn-secondary btn-flat btn-xs" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-edit"></i> Edit</button>
    <!-- Modal for Immigration -->
    <div class="modal fade" id="exampleModalCenter">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Rest Days</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="col">
                        <div class="form-group row rowleft ">
                            <label class="col-form-label col-4" for="validationCustom01">Passport No </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control form-control-sm" id="validationCustom01" required="">
                            </div>
                            <div class="valid-feedback">Looks good!</div>
                        </div>

                        <div class="form-group row rowleft ">
                            <label class="col-form-label col-4" for="validationCustom01">Willing to work on off-days </label>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" checked id="customRadio4" name="customRadio2" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio4">Yes</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadio5" name="customRadio2" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio5">No</label>
                            </div>
                        </div>
                        <div class="form-group row rowleft ">
                            <label class="col-form-label col-4" for="validationCustom01">Passport No </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control form-control-sm" id="validationCustom01" required="">
                            </div>
                            <div class="valid-feedback">Looks good!</div>
                        </div>

                        <div class="form-group row rowleft ">
                            <label class="col-form-label col-4" for="validationCustom01">Passport No </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control form-control-sm" id="validationCustom01" required="">
                            </div>
                            <div class="valid-feedback">Looks good!</div>
                        </div>

                        <div class="form-group row rowleft ">
                            <label class="col-form-label col-4" for="validationCustom01">Passport No </label>
                            <div class="col-md-8">
                                <!-- <input type="text" class="form-control form-control-sm" id="validationCustom01" required=""> -->
                                <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"></textarea>
                            </div>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>                                            
</div>