<div class="row">
    <!-- <div class="col-lg-6"> -->
        <!-- <div class="card">
            <div class="card-body">             -->
                <!-- Large modal -->
                <!-- <button type="button" class="btn btn-primary btn-flat btn-lg" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button> -->
                <button type="button" class="btn btn-secondary btn-flat btn-xs" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-edit"></i> Edit</button>
                <div class="modal fade bd-example-modal-lg">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <form action="" class="needs-validation" novalidate>
                                    <div class="row">

                                        <div class="col">                                            
                                            <label class="col-form-label col-4" for="validationCustom01">Mental illness </label>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" checked id="customRadio4" name="customRadio2" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio2">Yes</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="customRadio5" name="customRadio2" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio2">No</label>
                                            </div>

                                            <label class="col-form-label col-4" for="validationCustom01">Asthma </label>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" checked id="customRadio4" name="customRadio2" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio4">Yes</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="customRadio5" name="customRadio2" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio5">No</label>
                                            </div>

                                            
                                            <label class="col-form-label col-4" for="validationCustom01">Hypertension </label>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" checked id="customRadio4" name="customRadio2" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio4">Yes</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="customRadio5" name="customRadio2" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio5">No</label>
                                            </div>

                                            
                                            <label class="col-form-label col-4" for="validationCustom01">Heart disease</label>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" checked id="customRadio4" name="customRadio2" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio4">Yes</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="customRadio5" name="customRadio2" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio5">No</label>
                                            </div>

                                            
                                            <label class="col-form-label col-4" for="validationCustom01">Operations </label>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" checked id="customRadio4" name="customRadio2" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio4">Yes</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="customRadio5" name="customRadio2" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio5">No</label>
                                            </div>

                                            
                                            <label class="col-form-label col-4" for="validationCustom01">Allergies(if any) </label>
                                            <div class="custom-control-inline ">
                                                <input type="text" class="form-control form-control-sm" id="validationCustom01" required="">
                                            </div>

                                            
                                            <label class="col-form-label col-4" for="validationCustom01">Dietary Restrictions </label>
                                            <div class="custom-control-inline ">
                                                <input type="text" class="form-control form-control-sm" id="validationCustom01" required="">
                                            </div>
                                            

                                        </div>
                                        <div class="col">
                                           <label class="col-form-label col-4" for="validationCustom01">Epilepsy </label>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" checked id="customRadio4" name="customRadio2" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio4">Yes</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="customRadio5" name="customRadio2" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio5">No</label>
                                            </div>

                                            <label class="col-form-label col-4" for="validationCustom01">Diabetes </label>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" checked id="customRadio4" name="customRadio2" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio4">Yes</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="customRadio5" name="customRadio2" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio5">No</label>
                                            </div>

                                            
                                            <label class="col-form-label col-4" for="validationCustom01">Tuberculosis </label>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" checked id="customRadio4" name="customRadio2" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio4">Yes</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="customRadio5" name="customRadio2" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio5">No</label>
                                            </div>

                                            
                                            <label class="col-form-label col-4" for="validationCustom01">Malaia </label>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" checked id="customRadio4" name="customRadio2" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio4">Yes</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="customRadio5" name="customRadio2" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio5">No</label>
                                            </div>

                                            
                                            <label class="col-form-label col-4" for="validationCustom01">Others </label>
                                            <div class="custom-control-inline ">
                                                <input type="text" class="form-control form-control-sm" id="validationCustom01" required="">
                                            </div>

                                            
                                            <label class="col-form-label col-4" for="validationCustom01">Physical Disabilities </label>
                                            <div class="custom-control-inline ">
                                                <input type="text" class="form-control form-control-sm" id="validationCustom01" required="">
                                            </div>

                                            
                                            <label class="col-form-label col-4" for="validationCustom01">Food Hnadling Preferences </label>
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" checked class="custom-control-input" id="customCheck5">
                                                <label class="custom-control-label" for="customCheck5">No Pork</label>
                                            </div>
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="customCheck6">
                                                <label class="custom-control-label" for="customCheck6">No beef</label>
                                            </div>
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="customCheck7">
                                                <label class="custom-control-label" for="customCheck7">Others</label>
                                            </div>
                                            
                                            
                                        </div>

                                    </div>      
                                </form>                                                          
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->
</div>