<div class="row">
    <!-- button to triger edit modal -->
    <button type="button" class="btn btn-secondary btn-flat btn-xs" data-toggle="modal" data-target="#home_country_edit_form"><i class="fa fa-edit"></i> Edit</button>
    <!-- Modal for Immigration -->
    <div class="modal fade" id="home_country_edit_form">
        <div class="modal-dialog " role="form">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Home Country</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" action="" nonvaidate >
                        <div class="col"> 
                            <div class="form-group row rowleft ">
                                <label class="col-form-label col-4" for="validationCustom01">Residential address in home country </label>
                                <div class="col-md-8">
                                    <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"></textarea>
                                </div>
                                <div class="valid-feedback">Looks good!</div>
                            </div>

                            <div class="form-group row rowleft">
                                <label class="col-form-label col-4" for="validationCustom01">Name of port / airport to be repatriated to </label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control form-control-sm" id="validationCustom01" required="">
                                </div>
                                <div class="valid-feedback">Looks good!</div>
                            </div>

                            <div class="form-group row rowleft">
                                <label class="col-form-label col-4" for="validationCustom01">Home Country </label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control form-control-sm" id="validationCustom01" required="">
                                </div>
                                <div class="valid-feedback">Looks good!</div>
                            </div>

                            <div class="form-group row rowleft">
                                <label class="col-form-label col-4" for="validationCustom01">Contact Person in home country </label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control form-control-sm" id="validationCustom01" required="">
                                </div>
                                <div class="valid-feedback">Looks good!</div>
                            </div>

                            <div class="form-group row rowleft">
                                <label class="col-form-label col-4" for="validationCustom01">Secondary contact number in home country </label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control form-control-sm" id="validationCustom01" required="">
                                </div>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
                            <div class="form-group row rowleft">
                                <label class="col-form-label col-4" for="validationCustom01">E-maid id </label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control form-control-sm" id="validationCustom01" required="">
                                </div>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>                                            
</div>