<div class="row">
    <!-- button to triger edit modal -->
    <button type="button" class="btn btn-secondary btn-flat btn-xs" data-toggle="modal" data-target="#immigration_edit_form"><i class="fa fa-edit"></i> Edit</button>
    <!-- Modal for Immigration -->
    <div class="modal fade" id="immigration_edit_form">
        <div class="modal-dialog " role="form">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Home Country</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" action="" nonvaidate >
                        <div class="col"> 
                            <div class="form-group row rowleft ">
                                <label class="col-form-label col-4" for="validationCustom01">Passport No </label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control form-control-sm" id="validationCustom01" required="">
                                </div>
                                <div class="valid-feedback">Looks good!</div>
                            </div>

                            <div class="form-group row rowleft">
                                <label class="col-form-label col-4" for="validationCustom01">Passport Expiry Date</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control form-control-sm" id="validationCustom01" required="">
                                </div>
                                <div class="valid-feedback">Looks good!</div>
                            </div>

                            <div class="form-group row rowleft">
                                <label class="col-form-label col-4" for="validationCustom01">Malaysian Id Type </label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control form-control-sm" id="validationCustom01" required="">
                                </div>
                                <div class="valid-feedback">Looks good!</div>
                            </div>

                            <div class="form-group row rowleft">
                                <label class="col-form-label col-4" for="validationCustom01">Malaysan Id </label>
                                <div class="col-md-8">
                                    <select class="custom-select form-control-sm">
                                        <option selected="selected">Select Malaysian Id Type</option>
                                        <option value="Afganistan">Malaysian Pink</option>
                                        <option value="Albania">Malaysian Blue</option>                                                                         
                                    </select>
                                </div>
                                <div class="valid-feedback">Looks good!</div>
                            </div>

                            <div class="form-group row rowleft">
                                <label class="col-form-label col-4" for="validationCustom01">Fin No </label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control form-control-sm" id="validationCustom01" required="">
                                </div>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
                            <div class="form-group row rowleft">
                                <label class="col-form-label col-4" for="validationCustom01">Immigration Pass Type</label>
                                <div class="col-md-8">
                                    <select class="custom-select form-control-sm">
                                        <option selected="selected">Select Immigration Pass Type</option>
                                        <option value="Afganistan">Not in Singapore yet</option>
                                        <option value="Albania">Social visit Pass</option>       
                                        <option value="Albania">Special Pass</option>                                                                                                                                           
                                        <option value="Albania">Work Pass(include WP, EP, PEP and S Pass )</option>                                                                         
                                    </select>
                                </div>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
                            <div class="form-group row rowleft">
                                <label class="col-form-label col-4" for="validationCustom01">SVP / Special Pass Expiry Date</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control form-control-sm" id="validationCustom01" required="">
                                </div>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
                            <div class="form-group row rowleft">
                                <label class="col-form-label col-4" for="validationCustom01">Work permit No</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control form-control-sm" id="validationCustom01" required="">
                                </div>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
                            <div class="form-group row rowleft">
                                <label class="col-form-label col-4" for="validationCustom01">Work permit Expiry Date</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control form-control-sm" id="validationCustom01" required="">
                                </div>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>                                            
</div>