{% extends 'Base.html' %}
{% load static %}
{% block content %}
{% include 'side_bar.html' %}
{% include 'navbar_1.html' %}
    
<!-- page title area start -->

 <div class="page-title-area">
<div class="row align-items-center">
    <div class="col-sm-6">
        <div class="breadcrumbs-area clearfix">
            <h4 class="page-title pull-left">Dashboard</h4>
            <ul class="breadcrumbs pull-left">
                <li><a href="index.html">Home</a></li>
                <li><span>FDWs</span></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6 clearfix">
        <div class="user-profile pull-right">
            <img class="avatar user-thumb" src="static/assets/images/author/avatar.png" alt="avatar">
            <h4 class="user-name dropdown-toggle" data-toggle="dropdown">Kumkum Rai <i class="fa fa-angle-down"></i></h4>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Message</a>
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="#">Log Out</a>
            </div>
        </div>
    </div>
</div>
</div> 
<!-- page title area end -->
        <!-- Progress Table start -->
<div class="main-content-inner">
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <div class="row " style="display: flex;">
                        <div class="col-sm-12 col-md-6">
                        <h4 class="header-title">Progress Table</h4>
                    </div>
                    <div class="col-sm-12 col-md-6"> 
                        <a href="FDWs">
                        <button style="float: right;" type="button" class="btn btn-flat btn-success btn-xs mb-3"><i class="fa fa-plus"></i> Add customer</button>
                    </a>
                    </div>
                        
                    </div>
                        <div class="single-table">
                        <div class="table-responsive">
                            <table class="table table-hover progress-table">
                                <thead class="text-capitalize" style="background-color: #4336fb; color: white;">
                                    <tr>
                                        <th scope="col">S/N</th>
                                        <th scope="col">FDW Photo</th>
                                        <th scope="col">Basic Details</th>
                                        <th scope="col">Contact Details</th>
                                        <th scope="col">Other Details </th>
                                        <th scope="col">action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td><img src="http://dummyimage.com/68x68/000/fff"></td>
                                        <td>
                                            <ul>
                                           <li><strong>Name : </strong> <a href="FDWs_profile">RinkuTest</a>&nbsp;<span class="label label-warning">Inactive</span></li>
                                            <li><strong>Passport : </strong> </li>
                                            <li><strong>FIN : </strong> </li>
                                            <li><strong>Work Permit : </</li>
                                        </ul>
                                        </td>
                                        <td>
                                            <ul>
                                            <li><strong>SG Contact : </strong> </li>
                                            <li><strong>Email : </strong> </li>
                                            <li><strong>Overseas Primary : </strong> </li>
                                            <li><strong>Overseas Secondary : </strong> </li>
                                        </ul>
                                        </td>
                                        <td>
                                            <ul>
                                                <li><strong>Nationality : </strong> </li>
                                                <li><strong>Marital Status : </strong> </li>
                                                <li><strong>Religion : </strong> </li>
                                            </ul>
                                        </td>
                                        <td>
                                            <ul class="d-flex">
                                                <a href="#" ><i class="fa fa-check-circle fa-lg mr-1 "></i></a>
                                                <a href="#" ><i class="fa fa-edit fa-lg mr-1"></i></a>
                                                <a href="#" ><i class="ti-trash fa-lg"></i></a>
                                            </ul>
                                        </td>
                                    </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>  <!-- container div end -->
    

{% endblock %}