<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/static/assets/images/icon/favicon.ico">
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/static/assets/css/metisMenu.css">
    <link rel="stylesheet" href="/static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="/static/assets/css/typography.css">
    <link rel="stylesheet" href="/static/assets/css/default-css.css">
    <link rel="stylesheet" href="/static/assets/css/styles.css">
    <link rel="stylesheet" href="/static/assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="/static/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>

    

    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <span><h3 class="light">EazyMaid
                    </span></h3>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            

                            <li class="active"><a href="index.html"><i class="ti-dashboard"></i> <span>Dashboard</span></a></li>

                            <li ><a href="myagency.html"><i class="ti-home"></i> <span>My Agency</span></a></li>


                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-user"></i><span>Users
                                    </span></a>
                                <ul class="collapse">
                                    <li><a href="index.html">User Roles</a></li>
                                    <li><a href="index3-horizontalmenu.html">Users</a></li>
                                </ul>
                            </li>

                            <li ><a href="index.html"><i class="ti-home"></i> <span>Staff</span></a></li>

                            <li ><a href="fdw.html"><i class="ti-id-badge"></i> <span>FDWs</span></a></li>

                            <li ><a href="index.html"><i class="fa fa-users"></i> <span>Employers</span></a></li>

                            <li ><a href="index.html"><i class="ti-user"></i> <span>Agents</span></a></li>

                            <li ><a href="index.html"><i class="ti-pencil-alt"></i> <span>Contracts</span></a></li>

                            <li ><a href="index.html"><i class="ti-agenda"></i> <span>Documents</span></a></li>

                            
                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-write"></i><span>Invoices</span></a>
                                <ul class="collapse">
                                    <li><a href=#">Invoices</a></li>
                                    <li><a href="#">Draft Invoices</a></li>
                                    <li><a href="#">Invoice Settings</a></li>
                                    <li><a href="#">Invoice Items</a></li>
                                    <li><a href="#">Credit Terms</a></li>
                                    <li><a href="#">Invoice Term Settings</a></li>
                                    <li><a href="#">Invoice Notes Settings</a></li>
                                </ul>
                            </li>



                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-write"></i><span>Credit Notes</span></a>
                                <ul class="collapse">
                                    <li><a href="#">Credit Notes</a></li>
                                    <li><a href="#">Draft Credit Notes</a></li>
                                    <li><a href="#">Credit Notes Settings</a></li>
                                    
                                </ul>
                            </li>

                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-credit-card"></i><span>Payments</span></a>
                                <ul class="collapse">
                                    <li><a href="#">Payments</a></li>
                                    <li><a href="#">Payment Settings</a></li>
                                    <li><a href="#">Payment Modes</a></li>
                                    
                                </ul>
                            </li>

                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-credit-card"></i><span>Expenses</span></a>
                                <ul class="collapse">
                                    <li><a href="#">Expenses</a></li>
                                    <li><a href="#">Expenses Category</a></li>                                  
                                </ul>
                            </li>


                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-time"></i><span>Leaves</span></a>
                                <ul class="collapse">
                                    <li><a href="#">Leaves</a></li>
                                    <li><a href="#">Leave Settings</a></li>
                                </ul>
                            </li>


                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-stats-up"></i>
                                    <span>Reports</span></a>
                                <ul class="collapse">
                                    <li><a href="#">Invoice</a></li>
                                    <li><a href="#">Payments</a></li>
                                    <li><a href="#">Expenses</a></li>
                                    <li><a href="#">Creditnote</a></li>         
                                </ul>
                            </li>


                            <li><a href="maps.html"><i class="ti-shopping-cart"></i> <span>My Subscriptions</span></a></li>

                            
                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-email"></i> <span>View Enquiries</span></a>
                                <ul class="collapse">
                                    <li><a href="login.html">Request Maid</a></li>
                                    <li><a href="login2.html">Contact Agency</a></li>
                                    <li><a href="login3.html">Website Enquiries</a></li>
                                </ul>
                            </li>

                            <li><a href="maps.html"><i class="ti-ticket"></i> <span>Submit Ticket</span></a></li>

                            <li><a href="maps.html"><i class="ti-power-off"></i> <span>Logout</span></a></li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
<!-- main content area start -->
<div class="main-content">
    <!-- header area start -->
    <div class="header-area">
        <div class="row align-items-center">
            <!-- nav and search button -->
            <div class="col-md-6 col-sm-8 clearfix">
                <div class="nav-btn pull-left">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
               
            </div>
            <!-- profile info -->
            <div class="col-md-6 col-sm-4 clearfix">
                <ul class="notification-area pull-right">
                    <li id="full-view"><i class="ti-fullscreen"></i></li>
                    <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                    
                    <li class="settings-btn">
                        <i class="ti-settings"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- header area end -->


































    <!-- jquery latest version -->
    <script src="/static/assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="/static/assets/js/popper.min.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/owl.carousel.min.js"></script>
    <script src="/static/assets/js/metisMenu.min.js"></script>
    <script src="/static/assets/js/jquery.slimscroll.min.js"></script>
    <script src="/static/assets/js/jquery.slicknav.min.js"></script>

    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <!-- start zingchart js -->
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script>
    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
    </script>
    <!-- all line chart activation -->
    <script src="/static/assets/js/line-chart.js"></script>
    <!-- all pie chart -->
    <script src="/static/assets/js/pie-chart.js"></script>
    <!-- others plugins -->
    <script src="/static/assets/js/plugins.js"></script>
    <script src="/static/assets/js/scripts.js"></script>
</body>

</html>
