<div class="sidebar-menu">
    <div class="sidebar-header">
        <div class="logo">
            <a href="index.html"><img src="static/assets/images/icon/logo.png" alt="logo"></a>
        </div>
    </div>
    <div class="main-menu">
        <div class="menu-inner">
            <nav>
                <ul class="metismenu" id="menu">
                    <li >
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-dashboard"></i><span>dashboard</span></a>
                        
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-institution"></i><span>My Agency</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-user"></i><span>Users</span></a>
                        <ul class="collapse">
                            <li><a href="#">User role</a></li>
                            <li><a href="#">Users</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-users"></i><span>Staff</span></a>
                        
                    </li>
                    <li class="active"> 
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-female"></i><span>FDWs</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-users"></i><span>Employers</span></a>
                    
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-street-view"></i><span>Agents</span></a>
                        
                    </li>
                    <li><a href="#"><i class="fa fa-file-pdf-o"></i> <span>Contracts</span></a></li>
                    <li><a href="#"><i class="fa fa-file-word-o"></i> <span>Documents</span></a></li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-layers-alt"></i> <span>Invoices</span></a>
                        <ul class="collapse">
                            <li><a href="login.html">Invoices</a></li>
                            <li><a href="login2.html">Drafts Invoice</a></li>
                            <li><a href="login3.html">Invoice Settings</a></li>
                            <li><a href="register.html">Invoice Items</a></li>
                            <li><a href="register2.html">Credit Terms</a></li>
                            <li><a href="register3.html">Invoice Terms Settings</a></li>
                            <li><a href="register4.html">Invoice Notes Settings</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-power-off"></i> <span>Logout</span></a></li>
                </ul>
            </nav>
        </div>
    </div> 
</div>